body {
    
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;



}

header {

    background-color: lightgrey;
    padding: 15px;
    color: darkmagenta;
    
}

p{
    word-spacing: 3px;
}
h3{

    color: blueviolet;
}
h2 {
    color : black;
    font-family : 'Ubuntu';
}
section {

    background-color: darkgray;
    padding: 15px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}


table{
    width : 400px;
    padding : 8px;
}

th{text-align: center;
   border-bottom: 3px solid black;
}
td{text-align: right;}